/* backgrounds */
body{
    background-image: url(../../Images/gameplay-BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center ;

}


.boxbor{
    border: 2px solid black;
    height: 140px;
}