/* fonts */
@font-face 
{
    font-family: FG-FONT; 
    src: url('../../Additionals/04B_30__.TTF'); 
}

/* Universal sizes */
body{
    background-image: url(../../Images/Gameplay/gameplay-BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center ;
    min-width: 375px;
}

.cover-start{
    position: relative;

}
.coverImg{
    height: 90vh;
    width:100vh; 
    object-fit: cover;
    text-align:center;
    opacity: 0.7
}

.startText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: FG-FONT;
    color: red;
    font-size: 3em;
    text-align: center;
}




/* SETTINGS PAGE*/
.settings-screen{
    display: none;
    margin: auto;
}

.audio-toggle{
    margin-top: 42vh;
}

.audio-toggle audio{
    width: 80%;
}


/* SETTINGS PAGE END */

#pauseBtn{
    float:right;
    margin-top:10px;
}

#equation-line{
    font-size:2em;
    color: white;
    font-family: FG-FONT;
}

#countdown p{
    font-family: FG-FONT;
    font-size: 4.5em;
    
}
/* buttons */
.buttonWrap{
    position: relative;
    text-align: center;
    color: white;
}
.buttonNum{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font-family: FG-FONT;
    font-size: 2.5em;
}

/* .boxbor{
    border: 2px solid black;
} */

/* univeral CSS END */

/* PAUSE CSS */
.pause-screen{
    position: relative;
}
#pause-BG{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.requ-btn{
    margin-top: 60vh;
}

#settingsBtn{
    float: right;
}
#settingsBtn img{
    height: 55px;
    margin-top: 20px;
}

/* PAUSE CSS END*/

/* timesup-screen */
.timesup-screen{
     padding: 30px;
}

#timesupimg{
    margin-top: 10vh;
}
/* timesup-screen END*/

/* Gameover-screen */

.gameover-screen{

    text-align: center;
}

.score-board{
    height: 48vh;
    margin-top: 20vh;
    margin-left: 2px;

}

.gmBTN img{
    height: 55px;
}

.btn-box{
    background-image: url(../../Images/Gameplay/Gameover-btnBG.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 80vw;
    margin-top: 5vh;
}

.scoreboardWrap{
    position: relative;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    

}
.scoreText{
    font-family: FG-FONT;
    font-size: 5.5em;
    color:black;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Gameover-screen END */
/* Animations */

/* Plus1 */
#plusOneMorsel{
    width: 80vw;
}


/* geoff maxed out width = 70% */
#geoff-sprite-img {
  animation: shake 10s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg) rotateY(180deg);margin-left: 0%;}
  10% { transform: translate(-1px, -2px) rotate(-1deg) rotateY(180deg);margin-left: 14%;}
  20% { transform: translate(-3px, 0px) rotate(1deg) rotateY(180deg);margin-left: 28%;}
  30% { transform: translate(3px, 2px) rotate(0deg) rotateY(180deg);margin-left: 42%;}
  40% { transform: translate(1px, -1px) rotate(1deg) rotateY(180deg); margin-left: 56%;}
  50% { transform: translate(-1px, 2px) rotate(-1deg) rotateY(180deg); margin-left: 70%;}
  51% { transform: translate(-1px, 2px) rotate(-1deg); margin-left: 70%;}
  60% { transform: translate(-3px, 1px) rotate(0deg); margin-left: 56%;}
  70% { transform: translate(3px, 1px) rotate(-1deg); margin-left: 42%;;}
  80% { transform: translate(-1px, -1px) rotate(1deg); margin-left: 28%;}
  90% { transform: translate(1px, 2px) rotate(0deg) ; margin-left: 14%;}
  100% { transform: translate(1px, -2px) rotate(-1deg); margin-left: 0%;}
}



/* Animation end */
/* Display swap */
.main-gameplay{
    display: none;
}
.pause-screen{
    display: none;
}
.gameover-screen{
    display: none;
}
.timesup-screen{
     display: none;
}
.cover-start{
    display: block;
}
/* ---------------------------------------- */
/* Mobile small - 4.7in */
@media (min-width: 375px){
.geoff-sprite{
    margin-top: 30vh;
}
.button-options{
    width: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
}
}

/* ---------------------------------------- */
/* Mobile Medium - 5.8in */
@media (min-width: 375px) and (min-height: 812px){
.geoff-sprite{
    margin-top: 35vh;
}


.button-options{
    width: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
}
}
/* ---------------------------------------- */
/* Mobile Large - 6.4in */
@media (min-width: 360px) and (min-height: 740px){
.geoff-sprite{
    margin-top: 38vh;
}
.choicesBTN{
    margin-top:2vh;
}
.button-options{
    width: 135px;
    margin-top: 10px;
    margin-bottom: 10px;
}
}
/* ---------------------------------------- */
/* tablet */
@media (min-width: 768px) and (min-height: 1024px){
.geoff-sprite{
    margin-top: 44vh;

}
.button-options{
    width: 220px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#pauseBtn{
    float:right;
    margin-top:30px;
}

.btn-box{
    background-size: 50vw;
}
}

/* Ipad pro */
@media (min-width: 1024px) and (min-height: 1366px){

.geoff-sprite{
    margin-top: 50vh;

}
.button-options{
    width: 300px;
    margin-top: 30px;
    margin-bottom: 10px;
}
#pauseBtn{
    float:right;
    margin-top:30px;
}

.btn-box{
    background-size: 50vw;
}
}

/* ---------------------------------------- */
/* Desktop */
@media (min-width: 1440px){
.geoff-sprite{
    margin-top: 41vh;

}
.button-options{
    width: 130px;
    margin-top: 20px;
    margin-bottom: 10px;
}

}

@media (min-width: 1920px){
.geoff-sprite{
    margin-top: 45vh;

}
.button-options{
    width: 270px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.btn-box{
    background-size: 20vw;
    padding: 10px;
}

.coverImg{

    margin-left: 15vh;
}
}