/* Universal sizes */
body{
    background-image: url(../../Images/Gameplay/gameplay-BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center ;
    min-width: 375px;
}

#pauseBtn{
    float:right;
    margin-top:10px;
}

#countdown{
    font-size: 4em;
}

#equation-line{
    font-size:2em;
    color: white;
}

.boxbor{
    border: 2px solid black;
}

/* univeral CSS END */

/* PAUSE CSS */
.pause-screen{
    position: relative;
}
#pause-BG{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.requ-btn{
    margin-top: 60vh;
}

#settingsBtn{
    float: right;
}
#settingsBtn img{
    height: 55px;
    margin-top: 10px;
}

/* PAUSE CSS END*/

/* timesup-screen */
.timesup-screen{
     display: none;
     padding: 30px;
}

#timesupimg{
    margin-top: 10vh;
}
/* timesup-screen END*/

/* Gameover-screen */

.gameover-screen{
    display: none;
    text-align: center;
    position: relative;
}

.gameover-screen img{
    height: 70vh;
    width: auto;
    margin-top: 10vh;
}





/* Gameover-screen END */



/* Display swap */
.main-gameplay{
    display: block;
}
.pause-screen{
    display: none;
}





/* ---------------------------------------- */
/* Mobile small - 4.7in */
@media (min-width: 375px){
.geoff-sprite{
    margin-top: 35vh;
}
.button-options{
    width: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
}
}

/* ---------------------------------------- */
/* Mobile Medium - 5.8in */
@media (min-width: 375px) and (min-height: 812px){
.geoff-sprite{
    margin-top: 37vh;
}


.button-options{
    width: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
}
/* ---------------------------------------- */
/* Mobile Large - 6.4in */
@media (min-width: 360px) and (min-height: 740px){
.geoff-sprite{
    margin-top: 41vh;
}
.choicesBTN{
    margin-top:2vh;
}
.button-options{
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}
}
/* ---------------------------------------- */
/* tablet */
@media (min-width: 768px) and (min-height: 1024px){
.geoff-sprite{
    margin-top: 44vh;

}
.button-options{
    width: 220px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#pauseBtn{
    float:right;
    margin-top:30px;
}
}

/* Ipad pro */
@media (min-width: 1024px) and (min-height: 1366px){

.geoff-sprite{
    margin-top: 50vh;

}
.button-options{
    width: 300px;
    margin-top: 30px;
    margin-bottom: 10px;
}
#pauseBtn{
    float:right;
    margin-top:30px;
}
}

/* ---------------------------------------- */
/* Desktop */
@media (min-width: 1440px){
.geoff-sprite{
    margin-top: 41vh;

}
.button-options{
    width: 130px;
    margin-top: 20px;
    margin-bottom: 10px;
}

}

@media (min-width: 1920px){
.geoff-sprite{
    margin-top: 45vh;

}
.button-options{
    width: 270px;
    margin-top: 30px;
    margin-bottom: 10px;
}
}