/* fonts */

@font-face {
	font-family: FG-FONT;
	src: url('../../Additionals/04B_30__.TTF');
}
/* Universal sizes */

body {
	background-image: url(../../Images/Gameplay/gameplay-BG.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	min-width: 375px;
}
.cover-start {
	position: relative;
}
.coverImg {
	height: 90vh;
	width: 100vh;
	object-fit: cover;
	text-align: center;
	opacity: 0.7
}
.startText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: FG-FONT;
	color: red;
	font-size: 2.5em;
	text-align: center;
}
/* .boxbor{
    border: 2px solid black;
} */

/* SETTINGS PAGE*/

.settings-screen {
	display: none;
	margin: auto;
}
.audio-toggle {
	margin-top: 42vh;
}
.audio-toggle audio {
	width: 80%;
}
/* SETTINGS PAGE END */

#pauseBtn {
	float: right;
	margin-top: 10px;
}
#equation-line {
	font-size: 2em;
	color: white;
	font-family: FG-FONT;
}
#countdown p {
	font-family: FG-FONT;
	font-size: 4.5em;
}
/* buttons */

.buttonWrap {
	position: relative;
	text-align: center;
	color: white;
	width: 150px;
}
.buttonNum {
	position: absolute;
	top: 50%;
	left: 50%;
	color: white;
	transform: translate(-50%, -50%);
	font-family: FG-FONT;
	font-size: 2.5em;
}
.choicesBTN {
	margin-top: 20px;
}
/* univeral CSS END */

/* PAUSE CSS */

.pause-screen {
	position: relative;
}
#pause-BG {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.requ-btn {
	margin-top: 60vh;
}
#settingsBtn {
	float: right;
}
#settingsBtn img {
	height: 55px;
	margin-top: 20px;
}
/* PAUSE CSS END*/

/* timesup-screen */

.timesup-screen {
	padding: 30px;
}
#timesupimg {
	margin-top: 10vh;
}
/* timesup-screen END*/

/* Gameover-screen */

.gameover-screen {
	text-align: center;
}
.score-board {
	height: 48vh;
	margin-top: 20vh;
	margin-left: 2px;
}
.gmBTN img {
	height: 55px;
}
.btn-box {
	background-image: url(../../Images/Gameplay/Gameover-btnBG.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 80vw;
	margin-top: 5vh;
}
.scoreboardWrap {
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.scoreText {
	font-family: FG-FONT;
	font-size: 5.5em;
	color: black;
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* Gameover-screen END */

/* Display swap */

.main-gameplay {
	display: none;
}
.pause-screen {
	display: none;
}
.gameover-screen {
	display: none;
}
.timesup-screen {
	display: none;
}
.cover-start {
	display: block;
}
/* ---------------------------------------- */

/* Mobile small - 4.7in */

@media (min-width: 375px) {
	.geoff-sprite {
		margin-top: 28vh;
	}
	.button-options {
		width: 130px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	/* Animations */
	/* PlusOne1 */
	#plusOne1 {
		width: 20vw;
		opacity: 0;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.PO-morsel {
		width: 15vw;
		animation: plusOne 3s;
		position: absolute;
		animation-fill-mode: forwards;
	}
	@keyframes plusOne {
		0% {
			margin-top: 40%;
			opacity: 1;
		}
		10% {
			margin-top: 36%;
			opacity: 0.9;
		}
		20% {
			margin-top: 32%;
			opacity: 0.8;
		}
		30% {
			margin-top: 28%;
			opacity: 0.7;
		}
		40% {
			margin-top: 24%;
			opacity: 0.6;
		}
		50% {
			margin-top: 20%;
			opacity: 0.5;
		}
		60% {
			margin-top: 16%;
			opacity: 0.4;
		}
		70% {
			margin-top: 12%;
			opacity: 0.3;
		}
		80% {
			margin-top: 8%;
			opacity: 0.2;
		}
		90% {
			margin-top: 4%;
			opacity: 0.1;
		}
		100% {
			margin-top: 0%;
			opacity: 0;
		}
	}
	#geoff-sprite-img {
		animation: geoffMovement 10s;
		animation-iteration-count: infinite;
	}
	@keyframes geoffMovement {
		0% {
			transform: translate(1px, 1px) rotate(0deg) rotateY(180deg);
			margin-left: 0%;
		}
		10% {
			transform: translate(-1px, -2px) rotate(-1deg) rotateY(180deg);
			margin-left: 12%;
		}
		20% {
			transform: translate(-3px, 0px) rotate(1deg) rotateY(180deg);
			margin-left: 25%;
		}
		30% {
			transform: translate(3px, 2px) rotate(0deg) rotateY(180deg);
			margin-left: 38%;
		}
		40% {
			transform: translate(1px, -1px) rotate(1deg) rotateY(180deg);
			margin-left: 45%;
		}
		50% {
			transform: translate(-1px, 2px) rotate(-1deg) rotateY(180deg);
			margin-left: 50%;
		}
		51% {
			transform: translate(-1px, 2px) rotate(-1deg);
			margin-left: 50%;
		}
		60% {
			transform: translate(-3px, 1px) rotate(0deg);
			margin-left: 45%;
		}
		70% {
			transform: translate(3px, 1px) rotate(-1deg);
			margin-left: 38%;
		}
		80% {
			transform: translate(-1px, -1px) rotate(1deg);
			margin-left: 25%;
		}
		90% {
			transform: translate(1px, 2px) rotate(0deg);
			margin-left: 12%;
		}
		100% {
			transform: translate(1px, -2px) rotate(-1deg);
			margin-left: 0%;
		}
	}
	/* Animation end */
}
/* ---------------------------------------- */

/* Mobile Medium - 5.8in */

@media (min-width: 375px) and (min-height: 812px) {
	.geoff-sprite {
		margin-top: 90vh;
	}
	.button-options {
		width: 130px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	/* Animations */
	/* PlusOne1 */
	#plusOne1 {
		width: 20vw;
		opacity: 0;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.PO-morsel {
		width: 15vw;
		animation: plusOne 3s;
		position: absolute;
		animation-fill-mode: forwards;
	}
	@keyframes plusOne {
		0% {
			margin-top: 40%;
			opacity: 1;
		}
		10% {
			margin-top: 36%;
			opacity: 0.9;
		}
		20% {
			margin-top: 32%;
			opacity: 0.8;
		}
		30% {
			margin-top: 28%;
			opacity: 0.7;
		}
		40% {
			margin-top: 24%;
			opacity: 0.6;
		}
		50% {
			margin-top: 20%;
			opacity: 0.5;
		}
		60% {
			margin-top: 16%;
			opacity: 0.4;
		}
		70% {
			margin-top: 12%;
			opacity: 0.3;
		}
		80% {
			margin-top: 8%;
			opacity: 0.2;
		}
		90% {
			margin-top: 4%;
			opacity: 0.1;
		}
		100% {
			margin-top: 0%;
			opacity: 0;
		}
	}
	#geoff-sprite-img {
		animation: geoffMovement 10s;
		animation-iteration-count: infinite;
	}
	@keyframes geoffMovement {
		0% {
			transform: translate(1px, 1px) rotate(0deg) rotateY(180deg);
			margin-left: 0%;
		}
		10% {
			transform: translate(-1px, -2px) rotate(-1deg) rotateY(180deg);
			margin-left: 12%;
		}
		20% {
			transform: translate(-3px, 0px) rotate(1deg) rotateY(180deg);
			margin-left: 25%;
		}
		30% {
			transform: translate(3px, 2px) rotate(0deg) rotateY(180deg);
			margin-left: 38%;
		}
		40% {
			transform: translate(1px, -1px) rotate(1deg) rotateY(180deg);
			margin-left: 45%;
		}
		50% {
			transform: translate(-1px, 2px) rotate(-1deg) rotateY(180deg);
			margin-left: 50%;
		}
		51% {
			transform: translate(-1px, 2px) rotate(-1deg);
			margin-left: 50%;
		}
		60% {
			transform: translate(-3px, 1px) rotate(0deg);
			margin-left: 45%;
		}
		70% {
			transform: translate(3px, 1px) rotate(-1deg);
			margin-left: 38%;
		}
		80% {
			transform: translate(-1px, -1px) rotate(1deg);
			margin-left: 25%;
		}
		90% {
			transform: translate(1px, 2px) rotate(0deg);
			margin-left: 12%;
		}
		100% {
			transform: translate(1px, -2px) rotate(-1deg);
			margin-left: 0%;
		}
	}
	/* Animation end */
}
/* ---------------------------------------- */

/* Mobile Large - 6.4in */

@media (min-width: 360px) and (min-height: 740px) {
	.geoff-sprite {
		margin-top: 35vh;
	}
	.choicesBTN {
		margin-top: 2vh;
	}
	.button-options {
		width: 135px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	/* Animations */
	/* PlusOne1 */
	#plusOne1 {
		width: 20vw;
		opacity: 0;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.PO-morsel {
		width: 15vw;
		animation: plusOne 3s;
		position: absolute;
		animation-fill-mode: forwards;
	}
	@keyframes plusOne {
		0% {
			margin-top: 40%;
			opacity: 1;
		}
		10% {
			margin-top: 36%;
			opacity: 0.9;
		}
		20% {
			margin-top: 32%;
			opacity: 0.8;
		}
		30% {
			margin-top: 28%;
			opacity: 0.7;
		}
		40% {
			margin-top: 24%;
			opacity: 0.6;
		}
		50% {
			margin-top: 20%;
			opacity: 0.5;
		}
		60% {
			margin-top: 16%;
			opacity: 0.4;
		}
		70% {
			margin-top: 12%;
			opacity: 0.3;
		}
		80% {
			margin-top: 8%;
			opacity: 0.2;
		}
		90% {
			margin-top: 4%;
			opacity: 0.1;
		}
		100% {
			margin-top: 0%;
			opacity: 0;
		}
	}
	#geoff-sprite-img {
		animation: geoffMovement 10s;
		animation-iteration-count: infinite;
	}
	@keyframes geoffMovement {
		0% {
			transform: translate(1px, 1px) rotate(0deg) rotateY(180deg);
			margin-left: 0%;
		}
		10% {
			transform: translate(-1px, -2px) rotate(-1deg) rotateY(180deg);
			margin-left: 12%;
		}
		20% {
			transform: translate(-3px, 0px) rotate(1deg) rotateY(180deg);
			margin-left: 25%;
		}
		30% {
			transform: translate(3px, 2px) rotate(0deg) rotateY(180deg);
			margin-left: 38%;
		}
		40% {
			transform: translate(1px, -1px) rotate(1deg) rotateY(180deg);
			margin-left: 45%;
		}
		50% {
			transform: translate(-1px, 2px) rotate(-1deg) rotateY(180deg);
			margin-left: 50%;
		}
		51% {
			transform: translate(-1px, 2px) rotate(-1deg);
			margin-left: 50%;
		}
		60% {
			transform: translate(-3px, 1px) rotate(0deg);
			margin-left: 45%;
		}
		70% {
			transform: translate(3px, 1px) rotate(-1deg);
			margin-left: 38%;
		}
		80% {
			transform: translate(-1px, -1px) rotate(1deg);
			margin-left: 25%;
		}
		90% {
			transform: translate(1px, 2px) rotate(0deg);
			margin-left: 12%;
		}
		100% {
			transform: translate(1px, -2px) rotate(-1deg);
			margin-left: 0%;
		}
	}
	/* Animation end */
}
/* ---------------------------------------- */

/* tablet */

@media (min-width: 768px) and (min-height: 1024px) {
	.geoff-sprite {
		margin-top: 42vh;
		position: relative;
	}
	.choicesBTN {
		position: absolute;
		margin-left: 3%;
	}
	.button-options {
		width: 220px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#pauseBtn {
		float: right;
		margin-top: 30px;
	}
	.btn-box {
		background-size: 50vw;
	}
	/* Animations */
	/* PlusOne1 */
	#plusOne1 {
		width: 20vw;
		opacity: 0;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.PO-morsel {
		width: 15vw;
		animation: plusOne 3s;
		position: absolute;
		animation-fill-mode: forwards;
	}
	@keyframes plusOne {
		0% {
			margin-top: 40%;
			opacity: 1;
		}
		10% {
			margin-top: 36%;
			opacity: 0.9;
		}
		20% {
			margin-top: 32%;
			opacity: 0.8;
		}
		30% {
			margin-top: 28%;
			opacity: 0.7;
		}
		40% {
			margin-top: 24%;
			opacity: 0.6;
		}
		50% {
			margin-top: 20%;
			opacity: 0.5;
		}
		60% {
			margin-top: 16%;
			opacity: 0.4;
		}
		70% {
			margin-top: 12%;
			opacity: 0.3;
		}
		80% {
			margin-top: 8%;
			opacity: 0.2;
		}
		90% {
			margin-top: 4%;
			opacity: 0.1;
		}
		100% {
			margin-top: 0%;
			opacity: 0;
		}
	}
	#geoff-sprite-img {
		animation: geoffMovement 10s;
		animation-iteration-count: infinite;
	}
	@keyframes geoffMovement {
		0% {
			transform: translate(1px, 1px) rotate(0deg) rotateY(180deg);
			margin-left: 15%;
		}
		10% {
			transform: translate(-1px, -2px) rotate(-1deg) rotateY(180deg);
			margin-left: 27%;
		}
		20% {
			transform: translate(-3px, 0px) rotate(1deg) rotateY(180deg);
			margin-left: 39%;
		}
		30% {
			transform: translate(3px, 2px) rotate(0deg) rotateY(180deg);
			margin-left: 51%;
		}
		40% {
			transform: translate(1px, -1px) rotate(1deg) rotateY(180deg);
			margin-left: 55%;
		}
		50% {
			transform: translate(-1px, 2px) rotate(-1deg) rotateY(180deg);
			margin-left: 60%;
		}
		51% {
			transform: translate(-1px, 2px) rotate(-1deg);
			margin-left: 60%;
		}
		60% {
			transform: translate(-3px, 1px) rotate(0deg);
			margin-left: 55%;
		}
		70% {
			transform: translate(3px, 1px) rotate(-1deg);
			margin-left: 51%;
		}
		80% {
			transform: translate(-1px, -1px) rotate(1deg);
			margin-left: 39%;
		}
		90% {
			transform: translate(1px, 2px) rotate(0deg);
			margin-left: 27%;
		}
		100% {
			transform: translate(1px, -2px) rotate(-1deg);
			margin-left: 15%;
		}
	}
	/* Animation end */
}
/* Ipad pro */

@media (min-width: 1024px) and (min-height: 1366px) {
	.geoff-sprite {
		margin-top: 48vh;
	}
	.button-options {
		width: 250px;
		margin-bottom: 10px;
	}
	.buttonNum {
		position: absolute;
		top: 50%;
		left: 50%;
		color: white;
		transform: translate(-50%, -50%);
		font-family: FG-FONT;
		font-size: 4em;
	}
	#pauseBtn {
		float: right;
		margin-top: 30px;
	}
	.btn-box {
		background-size: 50vw;
	}
}
/* ---------------------------------------- */

/* Desktop */

@media (min-width: 1920px) {
	.geoff-sprite {
		margin-top: 35vh;
	}
	.button-options {
		width: 300px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.btn-box {
		background-size: 20vw;
		padding: 10px;
	}
	.coverImg {
		margin-left: 15vh;
	}
	.choicesBTN {
		position: absolute;
		margin-left: 16%;
	}
	/* Animations */
	/* PlusOne1 */
	#plusOne1 {
		width: 10vw;
		opacity: 0;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.PO-morsel {
		width: 15vw;
		animation: plusOne 3s;
		position: absolute;
		animation-fill-mode: forwards;
	}
	@keyframes plusOne {
		0% {
			margin-top: 15%;
			opacity: 1;
		}
		10% {
			margin-top: 13%;
			opacity: 0.9;
		}
		20% {
			margin-top: 11%;
			opacity: 0.8;
		}
		30% {
			margin-top: 9%;
			opacity: 0.7;
		}
		40% {
			margin-top: 7%;
			opacity: 0.6;
		}
		50% {
			margin-top: 5%;
			opacity: 0.5;
		}
		60% {
			margin-top: 4%;
			opacity: 0.4;
		}
		70% {
			margin-top: 3%;
			opacity: 0.3;
		}
		80% {
			margin-top: 2%;
			opacity: 0.2;
		}
		90% {
			margin-top: 1%;
			opacity: 0.1;
		}
		100% {
			margin-top: 0%;
			opacity: 0;
		}
	}
	#geoff-sprite-img {
		animation: geoffMovement 10s;
		animation-iteration-count: infinite;
	}
	@keyframes geoffMovement {
		0% {
			transform: translate(1px, 1px) rotate(0deg) rotateY(180deg);
			margin-left: 15%;
		}
		10% {
			transform: translate(-1px, -2px) rotate(-1deg) rotateY(180deg);
			margin-left: 27%;
		}
		20% {
			transform: translate(-3px, 0px) rotate(1deg) rotateY(180deg);
			margin-left: 39%;
		}
		30% {
			transform: translate(3px, 2px) rotate(0deg) rotateY(180deg);
			margin-left: 51%;
		}
		40% {
			transform: translate(1px, -1px) rotate(1deg) rotateY(180deg);
			margin-left: 55%;
		}
		50% {
			transform: translate(-1px, 2px) rotate(-1deg) rotateY(180deg);
			margin-left: 60%;
		}
		51% {
			transform: translate(-1px, 2px) rotate(-1deg);
			margin-left: 60%;
		}
		60% {
			transform: translate(-3px, 1px) rotate(0deg);
			margin-left: 55%;
		}
		70% {
			transform: translate(3px, 1px) rotate(-1deg);
			margin-left: 51%;
		}
		80% {
			transform: translate(-1px, -1px) rotate(1deg);
			margin-left: 39%;
		}
		90% {
			transform: translate(1px, 2px) rotate(0deg);
			margin-left: 27%;
		}
		100% {
			transform: translate(1px, -2px) rotate(-1deg);
			margin-left: 15%;
		}
	}
	/* Animation end */
}
@media (min-width: 1440px) {
	.geoff-sprite {
		margin-top: 43vh;
	}
	.button-options {
		width: 200px;
		margin-top: 15px;
		margin-bottom: 10px;
	}
	/* Animations */
	/* PlusOne1 */
	#plusOne1 {
		width: 10vw;
		opacity: 0;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.PO-morsel {
		width: 15vw;
		animation: plusOne 3s;
		position: absolute;
		animation-fill-mode: forwards;
	}
	@keyframes plusOne {
		0% {
			margin-top: 15%;
			opacity: 1;
		}
		10% {
			margin-top: 13%;
			opacity: 0.9;
		}
		20% {
			margin-top: 11%;
			opacity: 0.8;
		}
		30% {
			margin-top: 9%;
			opacity: 0.7;
		}
		40% {
			margin-top: 7%;
			opacity: 0.6;
		}
		50% {
			margin-top: 5%;
			opacity: 0.5;
		}
		60% {
			margin-top: 4%;
			opacity: 0.4;
		}
		70% {
			margin-top: 3%;
			opacity: 0.3;
		}
		80% {
			margin-top: 2%;
			opacity: 0.2;
		}
		90% {
			margin-top: 1%;
			opacity: 0.1;
		}
		100% {
			margin-top: 0%;
			opacity: 0;
		}
	}
	#geoff-sprite-img {
		animation: geoffMovement 10s;
		animation-iteration-count: infinite;
	}
	@keyframes geoffMovement {
		0% {
			transform: translate(1px, 1px) rotate(0deg) rotateY(180deg);
			margin-left: 15%;
		}
		10% {
			transform: translate(-1px, -2px) rotate(-1deg) rotateY(180deg);
			margin-left: 27%;
		}
		20% {
			transform: translate(-3px, 0px) rotate(1deg) rotateY(180deg);
			margin-left: 39%;
		}
		30% {
			transform: translate(3px, 2px) rotate(0deg) rotateY(180deg);
			margin-left: 51%;
		}
		40% {
			transform: translate(1px, -1px) rotate(1deg) rotateY(180deg);
			margin-left: 55%;
		}
		50% {
			transform: translate(-1px, 2px) rotate(-1deg) rotateY(180deg);
			margin-left: 60%;
		}
		51% {
			transform: translate(-1px, 2px) rotate(-1deg);
			margin-left: 60%;
		}
		60% {
			transform: translate(-3px, 1px) rotate(0deg);
			margin-left: 55%;
		}
		70% {
			transform: translate(3px, 1px) rotate(-1deg);
			margin-left: 51%;
		}
		80% {
			transform: translate(-1px, -1px) rotate(1deg);
			margin-left: 39%;
		}
		90% {
			transform: translate(1px, 2px) rotate(0deg);
			margin-left: 27%;
		}
		100% {
			transform: translate(1px, -2px) rotate(-1deg);
			margin-left: 15%;
		}
	}
	/* Animation end */
}