
/* backgrounds */
body{
    background-image: url(../../Images/main-BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
}
.main-menu-screen{
    display: none;
}
.showcol{
    border: 2px solid black;
}



/* to change in other screens */
.main-logo img{
   width: 40vh;
}

.main-logo{
   margin-top: 15vh;
}

.main-buttons{ 
    margin-top: 40vh;
}

#mBTN{
    margin: 10px;
   
}
/* MAIN MENU PAGE END*/ 

/* MATH OPERATORS */

.math-op-screen{
    width:100%;
    height:100%;
    text-align:center;
    overflow:hidden;
}

.math-op-screen img{
    min-width:100vh;
    max-width:none;
    height:100vh;
    margin: 0 -100px;
}
