/* backgrounds */
body{
    background-image: url(../../Images/Menu/main-BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    
}

.hcbillboard{
    text-align: center;
}

.hcbillboard img{
    height: 70vh;
    width: auto;
    margin-top: 10vh;
}

.hcBackBtn{
 padding: 0;
 
}
.backBtn img{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}


/* RESPONSIVEEEEEEE */
@media (min-width: 375px){
    .hcbillboard img{
    height: 50vh;
    width: auto;
    margin-top: 10vh;
}

@media (min-width: 411px){
    .hcbillboard img{
    height: 50vh;
    width: auto;
    margin-top: 10vh;
}
}

@media (min-width: 767px){
    .hcbillboard img{
    height:70vh;
    width: auto;
    margin-top: 10vh;
}
}